name: Terraform CI

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  terraform:
    uses: ocean-projects/aws-scripts/.github/workflows/terraform-ci-reusable.yml@main
    with:
      working_directory: "."
      terraform_version: "1.6.6"
      tflint_version: "v0.52.0"